.container-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-homepage-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}