.container-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-homepage-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.image-logo_logo{
    height: 300px;
    width: 300px;
    margin-top: 50px;
    border-radius: 20px;
}