.error {
    color: red;
}

.quotation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5%;
}
