<app-topbar></app-topbar>
<div class="quotation-container">
    <h2>Demande de cotation</h2>
    <form [formGroup]="quotationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Message :</label>
            <input type="text" formControlName="message" id="message" required>
            <div *ngIf="quotationForm.get('message')?.invalid && quotationForm.get('message')?.touched" class="error">
                Vous devez entrer un message !
            </div>
        </div>
        <div class="form-group">
            <label for="email">Image :</label>
            <input type="file" (change)="onFileSelected($event)" id="image" required>
        </div>
        <button type="submit">Envoyer</button>
    </form>
</div>
